<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ title if title else app_name }} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', path='css/news.css') }}">
    <script src="{{ url_for('static', path='js/scroll.js') }}"></script>
</head>
<body>
    <header class="header" id="ForUp">
        <div class="container">
            <div class="nav">
                <img src="{{ url_for('static', path='img/logo.png') }}" alt="MIREA" class="logo">
                <ul class="menu">
                    <li>
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="/prepods">
                            Преподаватели
                        </a>
                    </li>
                    <li>
                        <a href="/history">
                            История кафедры
                        </a>
                    </li>
                    <li>
                        <a href="/jobs">
                            Работы студентов
                        </a>
                    </li>
                    <li>
                        <p style="background: white;">
                            {{ user.login if user != None}}
                        </p>
                    </li>
                    <li class="signin">
                        {% if user == None %}
                        <!--<a href="{{ url_for('github_login') }}">-->
                            <a href="{{ url_for('github_psevdo_login') }}">
                            Войти
                        </a>
                        {% else %}
                        <a href="/">
                            Выйти
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="offer">
                <div class="text">
                    <h1>Кафедра 732<br> РТУ МИРЭА</h1>
                    <p>Институт информационных технолoгий.<br>Кафедра прикладной информатики</p>
                    <button value="Новости кафедры" class="button" onclick="myFunction()">Новости кафедры</button>
                </div>
                <div class="paint">
                    <img src="{{ url_for('static', path='img/right_offer.svg')}}" alt="foto">
                </div>
            </div>

        </div>
    </header>

    <section class="section">
        <div class="container" id = "id3">
            <div class="head">
                <h3>
                    <img src="{{ url_for('static', path='img/i2.svg')}}" alt="news"> Новости кафедры 732
                </h2>
            </div>


            {% if user.is_admin == true %}
            <div class="GUIForm">
                <form class="form_add" action="{{ url_for('add') }}" method="post">
                    <div class="field_add">
                        <label class="label_add">Добавить новость</label><br>
                        <input class="input_add_1" type="text" name="title" placeholder="Введите название новости"><br>
                        <input class="input_add_2" type="text" name="description" placeholder="Введите описание новости"><br>
                        <select name="genres">
                            <option value="ch1">достижения кафедры</option>
                            <option value="ch2">спортивные достижения</option>
                            <option value="ch3">студентам</option>
                            <option value="ch4">наука</option>
                            <option value="ch5">все новости</option>
                        </select>
                    </div>
                    <button class="button" id="but1" type="submit">Добавить</button>
                </form>
            </div>
            {% endif %}


            <div class="filter">
                <ul class="check">
                    <li>
                        <button>достижения кафедры</button>
                    </li>
                    <li>
                        <button>спортивные достижения</button> 
                    </li>
                    <li>
                        <button>студентам</button>
                    </li>
                    <li>
                        <button>наука</button>
                    </li>
                    <li>
                        <button>все новости</button>
                    </li>
                </ul>
            </div>


            <div class="search_form">
                <p>Поиск новостей</p>
                <form class="red_form" method="get" action="{{ url_for('search') }}">
                    <input class="typedef" id="typeid1" name="val" type="text" placeholder="Искать здесь...">
                    <button class="typedef" id="typeid2" type="submit"></button>
                </form>
            </div>


            <div class="genres_form">
                
            </div>


            {% for news in news_list %}
            <div class="bigdiv">
                <a class="trans" href="/">
                    <div class="newsdiv">
                        <div class="fotocard">
                            <img src="{{ url_for('static', path='img/fotocard.png')}}" alt="news">
                        </div>
                        <div class="title">
                            {{ news.title }}
                        </div>
                        <div class="field">
                            {{ news.description}}
                        </div>
                        <a class="del" href="{{ url_for('delete', todo_id=news.id) }}">Удалить</a>
                    </div>
                </a>
                <hr style="margin-top: 15px; margin-bottom: 15px;">
                <p style="text-align: center;">МЕСТО ДЛЯ ВАШЕЙ РЕКЛАМЫ</p>
                <hr style="margin-top: 15px; margin-bottom: 15px;">
            </div>
            {% endfor %}

            <button class="up" onclick="myFunction()"></button>

        </div>
    </section>

    <footer class="footer">
        <div class="container" id="container_3">
            <img src="{{ url_for('static', path='img/logomini.svg')}}" alt="minilogo" class="minilogo">
            <div class="foot">
                <h6>
                    Ⓒ 1923-2023 Кафедра 732 РТУ МИРЭА
                </h6>
                <h6>
                    +7 (495) 989 - 36 - 36
                </h6>
            </div>
        </div>
    </footer>

</body>
</html>